/*///////////////// PROJECTS SECTION ///////////////////////////*/
.desktop-img {
  max-width: 450px;
}

img {
  width: 100%;
  border-radius: 8px;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.project-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 0.75em;
}

.project-name {
  text-decoration: none;
  color: black;
  font-size: 1.75em;
  font-weight: bolder;
}

.project-name:hover {
  color: #f72585;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1em;
}

.tag {
  padding: 0.4em;
  border-radius: 15px;
  margin: 0.25em;
  color: white;
  background-color: #f72585;
}
