@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.flex {
  display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, monospace;
  background-image: linear-gradient(45deg, #3a0ca3, #f72585);
  margin: 0;
}

h3, h4 {
  text-align: center;
  font-size: 1.5em;
}
